 


.heading { 
	font-size: 90px; 
	line-height: 200px;
}

body{
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white;
}

.navbar-inverse {
	background-image:none;
  background-color: #008cba;
  border-color: #006687;
}

.search {
	margin-top: 40px;
	text-align:center;
}

.datamap{
  text-align:center;
}

/* Charts*/
.scoreChart {
	margin-top: 30px;
	margin-bottom: 40px;
}

.recurrenceChart {
	margin-top: 40px;
	margin-bottom: 80px;
}

.buttons {
	margin-top: 60px;
	margin-bottom: 0px;
	text-align:center;
}

/* State Buttons*/
.btn1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 60.26);
}

.btn2 {

}

.md-button {
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}



/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

