cffi==1.8.3
cryptography==1.5
cycler==0.10.0
Cython==0.24
Django==1.9.5
djangorestframework==3.3.3
enum34==1.1.6
gunicorn==19.4.5
idna==2.1
ipaddress==1.0.17
-e git+https://github.com/perrygeo/jenks.git@20a546f5038d1c0951b9034c96d101a94809cc4c#egg=jenks
matplotlib==1.5.2
ndg-httpsclient==0.4.2
numpy==1.11.0
psycopg2==2.6.1
pyasn1==0.1.9
pycparser==2.14
pyOpenSSL==16.1.0
pyparsing==2.1.8
python-dateutil==2.5.3
pytz==2016.6.1
redis==2.10.5
six==1.10.0
XlsxWriter==0.9.3