
<div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-fixed-top">

            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand brand-style" href="/#/">HappyMeter</a>
                </div>

                    
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="">About</a></li>
                        <li><a href="">Research</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><search location="navbar" message="e.g. #debate2016"></search></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>



<div class="container">

    <div class="row">
        <div align="center">
            <h1 class="text-center heading">{{word}}</h1>
            <hr class="star-primary">
        </div>
    </div>


    <div class="row">
        <h1 class="text-center map-main-title">USA Happiness Map</h1>
        <div class="map-container">
            <datamap map=datamap ></datamap>
        </div>
    </div>

    <div class="row block-container">
        <h1 class="text-center main-title">USA Happiness Ranking</h1>
            <ranking-state data="dataRanking" us-states="usStates"></ranking-state>
    </div>



    <div class="row">
        <h1 class="text-center main-title">USA Happiness Charts</h1>
    </div>


    <div class="row chart-control">
        <div class="col-md-6 col-sm-12 text-center">
            <search-states selected-state="chartState"></search-states>
        </div>
        <div class="col-md-6 col-sm-12">
            <md-radio-group class="buttons" layout="row" layout-align="center" ng-model="num">
                <md-radio-button value="180" class="md-primary">6-Months</md-radio-button>
                <md-radio-button value="90" class="md-primary">3-Months</md-radio-button>
                <md-radio-button value="30" class="md-primary">1-Month</md-radio-button>
            </md-radio-group>
        </div>
    </div>


    <div class="row" align="center">
        <div class="score-chart">
            <chart data="scoreChart" type-chart="score"></chart>
        </div>
        <div class="recurrence-chart">
            <chart data="recurrenceChart" type-chart="recurrence"></chart>
        </div>
    </div>

</div>
















