<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#/">HappyMeter</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
    </div>
  </div>
</nav>
<div class="row" align="center">
  <h1 class="text-center heading">HappyMeter</h1>
</div>
<div class="row" align="center">
  <p>A Twitter sentiment analysis Web Application to measure happiness in real-time across the US.</p>
  <br>
</div>
<br>
<div class="row" aling="center">
  <div class="col-xs-6 col-md-offset-3">
    <search></search>
  </div>
</div>