<div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-fixed-top">

            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand brand-style" href="/#/">HappyMeter</a>
                </div>

                    
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="">About</a></li>
                        <li><a href="">Research</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>





<div class="row">
    <h1 class="text-center heading-home">HappyMeter</h1>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <p class="text-center home-text">A Twitter sentiment analysis Web Application to measure happiness in real-time across the US.</p>
    </div>
</div>

<div class="row search">
    <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2 ">
        <search location="home" message="Search for a word, #hashtag or @user."></search>
    </div>
</div>




